.card {
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  margin: 30px;
}

.card:hover {
  transform: scale(1.1);
}

.cardImg {
  background-color: whitesmoke;
}

.cardBody {
  background-color: rgba(11, 19, 43, 0.7);
  border-radius: 3px;
  color: #eff7f6;
  text-align: center;
  line-height: 1px;
}

button {
  background-color: black;
}
